@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: rgb(16, 78, 78);
    position: sticky;
    top: 0;
 }
 h2{
    color: #fff;
 }
 li{
    display: inline;
    text-decoration: none;
    color: #fff;
 }
 li:hover{
    color: rgb(190, 169, 169);
 }
 a{
    text-decoration: none;
    margin: 9px;
 }

 .hero{
    background-color: #003d62;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
 }
 .text> h3,h1{
    color: #fff;
 }
 h6{
   font-size: 20px;
   text-align: center;
   color: #fff;
   padding: 30px 0px;
 }
 .middle{
   width: 100%;
   background-color: rgb(23, 58, 71);
 }
 .projects{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 30px;
 }
 .img1{
   margin-bottom: 30px;
 }
 footer{
   height: 100vh;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color:#003d62 ; 
 }
 .footer{
   position: relative;
   top: 40%;
 }
 .footer>h1{
   font-size: 50px;
 }
 .textt{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 30px;
   
 }




 @media (max-width:780px){
    nav{
        padding: 0px 0px;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
     }
     .projects{
     width: 100%;
      flex-direction: column; 
    }
    .text{
      flex-direction: column;
    }

}